<div>
  <p>{{(projectToDisplay | async)?.title}}</p>
  <img src="{{(projectToDisplay | async)?.image}}" alt="{{(projectToDisplay | async)?.title}}"/>
  <p>{{(projectToDisplay | async)?.author}}</p>
  <p>{{(projectToDisplay | async)?.description}}</p>
  <p>${{(projectToDisplay | async)?.currentFunding}} raised out of ${{(projectToDisplay | async)?.totalFunding}}</p>
</div>

<label>Give me your money!</label>
<input type="number" [(ngModel)]="donation">
<button (click)="beginDonateProject()">Donate</button>
