<h1>Admin Tools</h1>
<h3>Find Funding for Your Project:</h3>
<div class="row">
  <div class="col-sm-6">
    <div>
      <label>Title:</label>
      <br>
      <input #newTitle required>
    </div>

    <div>
      <label>Author:</label>
      <br>
      <input #newAuthor required>
    </div>

    <div>
      <label>Description:</label>
      <br>
      <textarea #newDescription required></textarea>
    </div>

    <div>
      <label>Image Link:</label>
      <br>
      <input #newImage required>
    </div>

    <div>
      <label>Funding Goal:</label>
      <br>
      <input type="number" #newTotalFunding required>
    </div>

    <div>
      <label>Funds Raised:</label>
      <br>
      <input type="number" #newCurrentFunding required>
    </div>
  </div>

  <div class="col-sm-6">
    <div *ngFor="let category of categories">
      <label>{{category.display}}</label>
      <input type="checkbox" value="{{category.value}}"
        (click)="check(category.value)">
    </div>
  </div>
  <button class="btn" (click)="submitForm(newTitle.value, newAuthor.value, newDescription.value, newImage.value, newTotalFunding.value, newCurrentFunding.value); newTitle.value=''; newAuthor.value=''; newDescription.value=''; newImage.value=''; newTotalFunding.value=''; newCurrentFunding.value='';">Submit</button>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-listing></app-listing>
  </div>
</div>
